# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# IPython
profile_default/
ipynb_checkpoints/
.ipynb_checkpoints/
ipython_config.py

# Datasets
/CookieTTS/_0_download/downloads/
/CookieTTS/_1_preprocess/datasets/*
/CookieTTS/_1_preprocess/MFA_tmp/
/CookieTTS/utils/dataset/_1_preprocess/tests/littlepip_sample/
/CookieTTS/_2_ttm/tacotron2_tm/global_mean.npy

# Model Checkpoints
outdir*/
cp_*/
checkpoints
/CookieTTS/_2_ttm/flowtts/outdir/
/CookieTTS/_2_ttm/untts/outdir/
/CookieTTS/_2_ttm/untts/outdir/
/CookieTTS/_2_ttm/untts/outdir_framef0/
/CookieTTS/_2_ttm/tacotron2/outdir/
/CookieTTS/_4_mtw/waveglow/outdir/
/CookieTTS/_2_ttm/tacotron2_*/NewCPs*/
/CookieTTS/_2_ttm/tacotron2_*/GTA*/
/CookieTTS/_4_mtw/waveglow/checkpoints/
/CookieTTS/_4_mtw/waveglow/checkpoints/
/CookieTTS/_4_mtw/hifigan/cp_hifigan/
/CookieTTS/_4_mtw/hifigan/cp_hifigan_44khz/
/CookieTTS/_4_mtw/hifigan/cp_hifigan_universal44Khz/

# Model logs
logs
/CookieTTS/_2_ttm/untts/old_logs/
GPU_?.log

# megatools folders
megatools-*-git-*-win64/
megatools-*-git-*-win32/
megatools-*-git-*-linux-x86_64/

# megatools archives
megatools-*-git-*-win64.zip
megatools-*-git-*-win32.zip
megatools-*-git-*-linux-x86_64.tar.gz

# inference server
/CookieTTS/_5_infer/t2s_server/server_infer/*
/CookieTTS/_5_infer/t2s_server/server_infer_done/*

# Montreal Forced Aligner
/CookieTTS/utils/dataset/montreal-forced-aligner/
/CookieTTS/utils/dataset/montreal-forced-aligner_win64.zip
/CookieTTS/utils/dataset/montreal-forced-aligner_linux.tar.gz

# Scripts/Misc
/CookieTTS/scripts/*.pt
/CookieTTS/scripts/iso226/
/CookieTTS/scripts/WadaSNR/
/CookieTTS/scripts/WadaSNR.tar.gz

# setup.py files
/CookiePPP.egg-info/
/CookieTTS.egg-info/
